@model Person

<h2>Name: @Model.name</h2>
<h2>Height: @Model.height</h2>
<h2>Mass: @Model.mass</h2>
<h2>Hair Color: @Model.hair_color</h2>
<h2>Skin Color: @Model.skin_color</h2>
<h2>Eye Color: @Model.eye_color</h2>
<h2>Birth Year: @Model.birth_year</h2>
<h2>Gender: @Model.gender</h2>




