@model Planet

<h2>Name: @Model.name</h2>
<h2>Rotation Period: @Model.rotation_period</h2>
<h2>Orbital Period: @Model.orbital_period</h2>
<h2>Diamiter: @Model.diameter</h2>
<h2>Climate: @Model.climate</h2>
<h2>Gravity: @Model.gravity</h2>
<h2>Terrain: @Model.terrain</h2>
<h2>Surface Water: @Model.surface_water</h2>
<h2>Population: @Model.population</h2>




